body {
    background-color: black;
    font-family: 'Poppins', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

.start-quiz, .show {
    width: 400px;
    padding: 25px;
    background: #252525;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 255, 100, 0.2);
    text-align: center;
    transition: transform 0.3s ease-in-out;
}


button {
    width: 140px;
    height: 45px;
    background: linear-gradient(to right, #00c853, #009624);
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 15px;
}

button:hover {
    background: linear-gradient(to right, #009624, #00c853);
    transform: scale(1.05);
}

button:disabled {
    background: #444;
    cursor: not-allowed;
}

.start-quiz p, .score-show {
    font-size: 22px;
    font-weight: bold;
    color: #00c853;
}

.question-para {
    font-size: 20px;
    margin-bottom: 15px;
    color: #e0e0e0;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    accent-color: #00c853;
    margin-right: 12px;
    cursor: pointer;
}

.score-show {
    margin-top: 15px;
    font-size: 22px;
    font-weight: bold;
}

